.w-rem-24 {
    width: 24rem;
}

.h-rem-20 {
    height: 20rem;
}

.t-cb { transition: all .3s cubic-bezier(.33, 1, .66, 1); }

.checkbox:checked + .checkbox-wrapper {
    background-color: #19a974;
  
    .checkbox-toggle { 
      left: 1rem;
      background-color: #ccc;
    }
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  animation: spin 2s linear infinite;
}

.bt--blue {
  border-top-color: #357edd;
}

.clamp-text {
  white-space: nowrap; /* Ensure the text is on a single line */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis (...) at the end */
}

/* Show the full text on hover */
.clamp-text:hover {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}