.w-rem-24 {
    width: 24rem;
}

.h-rem-18 {
    height: 18rem;
}

.t-cb { transition: all .3s cubic-bezier(.33, 1, .66, 1); }

.checkbox:checked + .checkbox-wrapper {
    background-color: #19a974;
  
    .checkbox-toggle { 
      left: 1rem;
      background-color: #ccc;
    }
  }